<a href="https://colab.research.google.com/github/rumcrush/cakd3/blob/main/0626_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 2
for i in range(1,10):
  i *= 2
  print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
## 리스트 컴프리헨션
# [(변수를 활용한 값) for (사용할 변수 이름) in (순회할 수 있는 값)]

In [ ]:
size = 10
arr = [i * 2 for i in range(size)]
new_arr = [n * n for n in arr]
print(arr)
print(new_arr)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
arr = []

for i in range(0, 20, 2):
  arr.append(i*i)
print(arr)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
arr = [i * i for i in range(0, 20, 2)]
arr

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
a = ['a','b','c','d','e', '1','2','3']
print(a)

result1 = "".join(a)
print(result1)


result2 = ''
for v in a:
  result2 += v
print(result2)

result3 = ":".join(a)
print(result3)

['a', 'b', 'c', 'd', 'e', '1', '2', '3']
abcde123
abcde123
a:b:c:d:e:1:2:3

In [ ]:
a = ['loona', 'oec', 'yyxy', 'yeojin', 'bunsu']
print(a)

result4 = "/".join(a)
print(result4)

['loona', 'oec', 'yyxy', 'yeojin', 'bunsu']
loona/oec/yyxy/yeojin/bunsu

In [ ]:
a = ['loona', 'oec', 'yyxy', 'yeojin', 'bunsu']
# 리스트를 문자열로 합치기 
result5 = "\n".join(a)
print(result5)

loona
oec
yyxy
yeojin
bunsu

In [ ]:
onefive = ['soyo', 'kano', 'gumi', 'momo']
result6 = " & ".join(onefive)
print(result6)
# print안에 result6 이외의 내용이 들어가면 에러남

soyo & kano & gumi & momo

In [ ]:
num_list = [i * i for i in range(0, 20, 3)]
print(num_list)
len(num_list)

[0, 9, 36, 81, 144, 225, 324]

7

In [ ]:
def countdown(n):
  global n
  if n == 0:
    print("happy new year")
  else:
    print(n)
    countdown(n-1)

countdown(3)

SyntaxError: ignored

In [ ]:
import math

result7 = math.factorial(5)

print(result7)

120

In [ ]:
def mul(n):
  if(n > 1):
    return n * mul(n-1)
  else:
    return 1

print(mul(5))

120

In [ ]:
a = ["1","2","3","4","5"]
a = list(map(float, a))
a

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
a = [1,2,3,4,5]
a = list(map(float, a))
a

[1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
a = [5,6,7,3,9]
a = list(map(float, a))
a

[5.0, 6.0, 7.0, 3.0, 9.0]

In [7]:
x1 = 1
s1 = 0 

while x1 < 1001:
  if x1 % 3 == 0:
    s1 += x1
  x1 += 1
print(s1)

166833

In [8]:
# 5~500까지 5의 배수만 더하기 


s1 = 0

for x in range(5,500):
  if x % 5 == 0:
    s1 += x
  else:
    x += 1
  print(s1)

5
5
5
5
5
15
15
15
15
15
30
30
30
30
30
50
50
50
50
50
75
75
75
75
75
105
105
105
105
105
140
140
140
140
140
180
180
180
180
180
225
225
225
225
225
275
275
275
275
275
330
330
330
330
330
390
390
390
390
390
455
455
455
455
455
525
525
525
525
525
600
600
600
600
600
680
680
680
680
680
765
765
765
765
765
855
855
855
855
855
950
950
950
950
950
1050
1050
1050
1050
1050
1155
1155
1155
1155
1155
1265
1265
1265
1265
1265
1380
1380
1380
1380
1380
1500
1500
1500
1500
1500
1625
1625
1625
1625
1625
1755
1755
1755
1755
1755
1890
1890
1890
1890
1890
2030
2030
2030
2030
2030
2175
2175
2175
2175
2175
2325
2325
2325
2325
2325
2480
2480
2480
2480
2480
2640
2640
2640
2640
2640
2805
2805
2805
2805
2805
2975
2975
2975
2975
2975
3150
3150
3150
3150
3150
3330
3330
3330
3330
3330
3515
3515
3515
3515
3515
3705
3705
3705
3705
3705
3900
3900
3900
3900
3900
4100
4100
4100
4100
4100
4305
4305
4305
4305
4305
4515
4515
4515
4515
4515
4730
4730
4730
4730
4730
4950
4950
4950
4950
4950
5175
5175
5175
5175
5175
5405
5405
5405
5405
5405
5640
5640
5640
5640
5640
5880
5880
5880
5880
5880
6125
6125
6125
6125
6125
6375
6375
6375
6375
6375
6630
6630
6630
6630
6630
6890
6890
6890
6890
6890
7155
7155
7155
7155
7155
7425
7425
7425
7425
7425
7700
7700
7700
7700
7700
7980
7980
7980
7980
7980
8265
8265
8265
8265
8265
8555
8555
8555
8555
8555
8850
8850
8850
8850
8850
9150
9150
9150
9150
9150
9455
9455
9455
9455
9455
9765
9765
9765
9765
9765
10080
10080
10080
10080
10080
10400
10400
10400
10400
10400
10725
10725
10725
10725
10725
11055
11055
11055
11055
11055
11390
11390
11390
11390
11390
11730
11730
11730
11730
11730
12075
12075
12075
12075
12075
12425
12425
12425
12425
12425
12780
12780
12780
12780
12780
13140
13140
13140
13140
13140
13505
13505
13505
13505
13505
13875
13875
13875
13875
13875
14250
14250
14250
14250
14250
14630
14630
14630
14630
14630
15015
15015
15015
15015
15015
15405
15405
15405
15405
15405
15800
15800
15800
15800
15800
16200
16200
16200
16200
16200
16605
16605
16605
16605
16605
17015
17015
17015
17015
17015
17430
17430
17430
17430
17430
17850
17850
17850
17850
17850
18275
18275
18275
18275
18275
18705
18705
18705
18705
18705
19140
19140
19140
19140
19140
19580
19580
19580
19580
19580
20025
20025
20025
20025
20025
20475
20475
20475
20475
20475
20930
20930
20930
20930
20930
21390
21390
21390
21390
21390
21855
21855
21855
21855
21855
22325
22325
22325
22325
22325
22800
22800
22800
22800
22800
23280
23280
23280
23280
23280
23765
23765
23765
23765
23765
24255
24255
24255
24255
24255
24750
24750
24750
24750
24750

In [19]:
# 1부터 10까지 2의 배수만 더하기 
# while문 

x = 1 
s = 0 

while x < 11:
  if x % 2 == 0:
    s += x
  x += 1
print(s)

30

In [22]:
# 6부터 600까지 6의 배수만 구하기
# while문 

x = 6
sum = 0 

while x < 601:
  if x % 6 == 0:
    sum += x
  x += 1
print(sum)

30300

In [29]:
# 1부터 10까지 중에서 3의 배수를 뺀 나머지 값을 출력

a = 0 
while a < 10:
  a = a + 1
  if a % 3 == 0:
    continue
print(a)

10

In [38]:
# while 문을 사용해서 1부터 1000까지 정수 중 3과 5의 공배수의 합을 구하시오


x = 1
s = 0 

while x < 1001:
  if x % 3 == 0 and x % 5 == 0:
    s += x
  x+=1
print(s)

33165

In [42]:

x = 1 
s = 0 

for i in range(1, 100):
  if x > 4 and x < 96:
    s += x
  x += 1
print(s)

4550

In [45]:
# 1부터 50까지 숫자 중에서 3 부터 39까지의 곱하기를 구하세요 

x = 1
mul = 1 

while x < 51:
  if x > 2 and x < 40:
    mul *= x
  x += 1
print(mul)

10198941040598721679320140869951448678400000000

In [46]:
x = 1 
mul = 1 

for i in range(1, 50):
  if x > 2 and x < 40:
    mul *= x
  x += 1
print(mul)

10198941040598721679320140869951448678400000000

In [56]:
x = 1
sum = 0 

while x < 101:
  x += 1
  if x < 5:
    continue 
  sum += x
  if x > 95:
    break
print(sum)

4646

In [61]:
# 1부터 30 중에 2에서 25까지의 합

x = 1
sum = 0 

while x < 31:
  x += 1
  if x > 1:
    sum += x
    continue
  if x < 26:
    break

print(sum)

495

In [71]:
sum = 0 

for i in range(1,10):
  sum += i
print(sum)

45

In [72]:
sum = 0 

for i in range(5,15):
  sum += i
print(sum)

95

In [73]:
sum = 0 

for i in range(1,20):
  sum += i
print(sum)

190

In [74]:
sum = 0 

for i in range(9, 81):
  sum += i 
print(sum)

3204

In [75]:
sum = 0 

for i in range(2,55):
  sum += i
print(sum)

1484

In [78]:
# 1~100까지 합
# 1~4까지 합
# 96~101까지 합 

sum_1 = 0
sum_2 = 0
sum_3 = 0


for i in range(1,101):
  sum_1 += i

for i in range(1,5):
  sum_2 += i

for i in range(96,102):
  sum_3 += i 

print(sum_1)
print(sum_2)
print(sum_3)

print(sum_1 - sum_2 * sum_3)

5050
10
591
-860

In [82]:
x = 1
sum = 0 

while x < 101:
  x += 1
  if x > 6:
    sum += x
    continue
  if x > 80:
    break

print(sum)

5130

In [90]:
# 1부터 100까지 숫자 중 2~80의 합을 구하기 

x = 1 
sum = 0 

while x < 101:
  x += 1
  if x > 1:
    sum += x 
    continue
  if x < 81:
    break
print(sum)

5150

In [95]:
# 1부터 100까지 숫자 중 3부터 93까지 합 구하기 


x = 1
sum = 0

while x < 101:
  x += 1
  if x < 2:
    continue
  sum += x
  if x > 94:
    break
print(sum)

4559

In [96]:
x = lambda a, b : a **b
print(x(2,5))

32

In [101]:
x = lambda a, b, c : (a * b)-c
print(x(2,3,5))

1

In [102]:
x = lambda a, b, c : (a*c)/c
print(x(20,5,2))

20.0

In [ ]:
# 97을 40으로 나눈 몫과 나머지를 divmod로 구할 수 있다 

a, b = 97, 40
divmod(a,b)

0626 일지 : 
국비교육 1주일차 환장할 것 같다. 이해 했다고 생각했던 계속 배운 내용들을 까먹는다. 

정말 답답한 것은 응용이 안 된다. 간단한 문법은 어찌저찌 사용할 수 있는데 조금만 응용이 들어가면 어떻게 해야 하는지 감이 와서 코드를 짜면 에러를 뱉는다. 

급기야 이 문법들을 실제로 얼마나 많이 써먹나를 계산하고 있다.
그거 이전에 기본이 되어있어야 모듈이고 패키지고 활용 할 수 있을텐데. 

어차피 장기전이다. 번아웃 오면 끝장이다. 쉴 땐 쉬어야지.
잘 하는 것을 목표로 하지 말고 끝내는 것을 목표로 해야겠다.

에러가 나오는 이유 :
1) 그냥 구조 자체를 잘못짬 
머리 자체가 멍 해지는 느낌이다 
>> 남들이 짜놓은 코드를 보면 이해가 된다. 
하지만 처음부터 내가 짠 코드가 먹힌 적은 100번중에 2번 있을까 말까? 

2) 오타 >> 고질적인 문제다. 죽겠음.  

3) 연습 부족으로 문법 이해 잘 못 함 
>> 같은 문법 사용으로 여러번 반복하며 풀고 있다. 
마치 수학 드릴 문제 푸는 것 처럼 반복 하며 익숙해 지도록 연습 중이다. 
그나마 다행인 건 이해 한 것은 스스로 풀이 과정을 설명할 수 있다.